* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #549456;
  border-radius: 25px;
  padding: 30px 20px;
  width: 350px;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.image-upload {
  background-color: #ccc;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  font-size: 40px;
  color: #555;
}

textarea {
  resize: none;
  border-radius: 10px;
  padding: 10px;
  border: none;
  height: 80px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 24px;
  color: gold;
}

button {
  background-color: white;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0;
}
